build
twine

pytest
pytest-cov
pytest-runner
hypothesis
coveralls
coverage
testfixtures
contextlib2
hypothesis
mock
tox

flake8
pyflakes
pycodestyle
docutils

pip-date

jupyterlab

sphinx==4.0.2
pandas